<div id="page">
  <nav class="fh5co-nav" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div id="fh5co-logo"><a href="index.html">Wedding<strong>.</strong></a></div>
        </div>
      </div>
    </div>
  </nav>
  <header id="fh5co-header" class="fh5co-cover" role="banner"  data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="display-t">
            <div class="display-tc animate-box" data-animate-effect="fadeIn">
              <h1>Ravi &amp; Sandhya</h1>
              <h2>We Are Getting Married</h2>
              <div><p id="demo"></p></div>
              <div id="countdown">
                <div id='tiles'></div>
                <div class="labels">
                  <li><span id="days"></span>Days</li>
                  <li><span id="hours"></span>Hours</li>
                  <li><span id="minutes"></span>Mins</li>
                  <li><span id="seconds"></span>Secs</li>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div id="fh5co-couple">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
          <h2>Save the Date!</h2>
          <h3>March 4th, 2018 Chitradurga</h3>
          <p>We invite you to celebrate our wedding</p>
        </div>
      </div>
      <div class="couple-wrap animate-box">
        <div class="couple-half">
          <div class="groom">
            <%=image_tag 'groom_1.jpg', class:'img-responsive img-circle' %>
          </div>
          <div class="desc-groom">
            <h3>Ravi Shankar G</h3>
            <p></p>
          </div>
        </div>
        <p class="heart text-center"><i class="fa fa-heart"></i></p>
        <div class="couple-half">
          <div class="bride">
            <%= image_tag 'bride.jpeg', class:'img-responsive img-circle'%>
          </div>
          <div class="desc-bride">
            <h3>Sandhya S Murthy</h3>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="fh5co-event" class="fh5co-bg">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
          <span>Our Special</span>
          <h2>Events</h2>
        </div>
      </div>
      <div class="row">
        <div class="display-t">
          <div class="display-tc">
            <div class="col-md-10 col-md-offset-1">
              <div class="col-md-6 col-sm-6 text-center">
                <div class="event-wrap animate-box">
                  <h3>reception</h3>
                  <div class="event-col">
                    <i class="fa fa-clock"></i>
                    <span>6:00 PM onwards </span>
                  </div>
                  <div class="event-col">
                    <i class="fa fa-calendar"></i>
                    <span>Saturday 03</span>
                    <span>March, 2018</span>
                  </div>
                  <p class="text-capitalize">KEB Employees Union Kalyana Mantapa Near RTO Office Chitradurga</p>
                  <p>Ph: 9901916142, 9035362979, 9731188809</p>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 text-center">
                <div class="event-wrap animate-box">
                  <h3>Wedding</h3>
                  <div class="event-col">
                    <i class="fa fa-clock"></i>
                    <span>8:20 AM</span>
                  </div>
                  <div class="event-col">
                    <i class="fa fa-calendar"></i>
                    <span>Sunday 04</span>
                    <span>March, 2018</span>
                  </div>
                  <p class="text-capitalize">KEB Employees Union Kalyana Mantapa Near RTO Office Chitradurga</p>
                  <p>Ph: 9901916142, 9035362979, 9731188809</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="fh5co-testimonial">
		<div class="container">
			<div class="row">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>Location</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 animate-box">
            <div class="gmaps">

        <div id="map" style="width:100%;height:500px"></div>
    </div>
						</div>
					</div>
				</div>
			</div>
  </div>
</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRCzNsnPzDZ_bfR-4wzOZFrWwAvfIjBpc&callback=myMap"></script>
<script>
function myMap() {
  var myCenter = new google.maps.LatLng(14.233661,76.40849960000003);
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom: 15};
  var map = new google.maps.Map(mapCanvas, mapOptions);
  var marker = new google.maps.Marker({
    position: myCenter,
    animation: google.maps.Animation.BOUNCE
  });
  marker.setMap(map);
}
</script>

<script type="text/javascript">
// Set the date we're counting down to
var countDownDate = new Date("Mar 4, 2018 08:20:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();
    
    // Find the distance between now an the count down date
    var distance = countDownDate - now;
    
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    // Output the result in an element with id="demo"
    document.getElementById("demo").innerHTML = days +"  Days  " + hours + "  Hours  "
    + minutes + "  Minutes " + seconds + "  Seconds  ";
    document.getElementById("days").innerHTML = days;
    document.getElementById("hours").innerHTML = hours;
    document.getElementById("minutes").innerHTML = minutes;
    document.getElementById("seconds").innerHTML = seconds;
    
    // If the count down is over, write some text 
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
    }
}, 1000);
</script>
<script type="text/javascript">
  var target_date = new Date("Mar 4, 2018 08:20:00").getTime(); + (1000*3600*48); // set the countdown date
var days, hours, minutes, seconds; // variables for time units

var countdown = document.getElementById("tiles"); // get tag element

getCountdown();

setInterval(function () { getCountdown(); }, 1000);

function getCountdown(){

  // find the amount of "seconds" between now and target
  var current_date = new Date().getTime();
  var seconds_left = (target_date - current_date) / 1000;

  days = pad( parseInt(seconds_left / 86400) );
  seconds_left = seconds_left % 86400;
     
  hours = pad( parseInt(seconds_left / 3600) );
  seconds_left = seconds_left % 3600;
      
  minutes = pad( parseInt(seconds_left / 60) );
  seconds = pad( parseInt( seconds_left % 60 ) );

  // format countdown string + set tag value
  countdown.innerHTML = "<span>" + days + "</span><span>" + hours + "</span><span>" + minutes + "</span><span>" + seconds + "</span>"; 
}

function pad(n) {
  return (n < 10 ? '0' : '') + n;
}
</script>
<style type="text/css">
  #demo {
    color: #F14E95;
    font-size: 36px;
    font-weight: 900;
    margin-top: 15%;
  }

  body{ 
  font: normal 13px/20px Arial, Helvetica, sans-serif; word-wrap:break-word;
  color: #eee;
  background: #353535;
}
#countdown{
  width: 465px;
  height: 112px;
  text-align: center;
  background: #222;
  background-image: -webkit-linear-gradient(top, #222, #333, #333, #222); 
  background-image:    -moz-linear-gradient(top, #222, #333, #333, #222);
  background-image:     -ms-linear-gradient(top, #222, #333, #333, #222);
  background-image:      -o-linear-gradient(top, #222, #333, #333, #222);
  border: 1px solid #111;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  margin: auto;
  padding: 24px 0;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

#countdown:before{
  content:"";
  width: 8px;
  height: 65px;
  background: #444;
  background-image: -webkit-linear-gradient(top, #555, #444, #444, #555); 
  background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
  background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
  background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
  border: 1px solid #111;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  display: block;
  position: absolute;
  top: 48px; left: -10px;
}

#countdown:after{
  content:"";
  width: 8px;
  height: 65px;
  background: #444;
  background-image: -webkit-linear-gradient(top, #555, #444, #444, #555); 
  background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
  background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
  background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
  border: 1px solid #111;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: block;
  position: absolute;
  top: 48px; right: -10px;
}

#countdown #tiles{
  position: relative;
  z-index: 1;
}

#countdown #tiles > span{
  width: 92px;
  max-width: 92px;
  font: bold 48px 'Droid Sans', Arial, sans-serif;
  text-align: center;
  color: #111;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(top, #bbb, #eee); 
  background-image:    -moz-linear-gradient(top, #bbb, #eee);
  background-image:     -ms-linear-gradient(top, #bbb, #eee);
  background-image:      -o-linear-gradient(top, #bbb, #eee);
  border-top: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
  margin: 0 7px;
  padding: 18px 0;
  display: inline-block;
  position: relative;
}

#countdown #tiles > span:before{
  content:"";
  width: 100%;
  height: 13px;
  background: #111;
  display: block;
  padding: 0 3px;
  position: absolute;
  top: 41%; left: -3px;
  z-index: -1;
}

#countdown #tiles > span:after{
  content:"";
  width: 100%;
  height: 1px;
  background: #eee;
  border-top: 1px solid #333;
  display: block;
  position: absolute;
  top: 48%; left: 0;
}

#countdown .labels{
  width: 100%;
  height: 25px;
  text-align: center;
  position: absolute;
  bottom: 8px;
}

#countdown .labels li{
  width: 102px;
  font: bold 15px 'Droid Sans', Arial, sans-serif;
  color: #f47321;
  text-shadow: 1px 1px 0px #000;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}
</style>