<div id="page">
  <nav class="fh5co-nav" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div id="fh5co-logo"><a href="index.html">Wedding<strong>.</strong></a></div>
        </div>
      </div>
    </div>
  </nav>
  <header id="fh5co-header" class="fh5co-cover" role="banner"  data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="display-t">
            <div class="display-tc animate-box" data-animate-effect="fadeIn">
              <h1>Ravi &amp; Sandhya</h1>
              <h2>We Are Getting Married</h2>
              <div class="simply-countdown simply-countdown-one">
                <div class="days-container">
                      <div class="days"></div>
                      <div class="days-label">days</div>
                    </div>
                    
                    <div class="hours-container">
                      <div class="hours"></div>
                      <div class="hours-label">hours</div>
                    </div>
                    
                    <div class="minutes-container">
                      <div class="minutes"></div>
                      <div class="minutes-label">minutes</div>
                    </div>
                    
                    <div class="seconds-container">
                      <div class="seconds"></div>
                      <div class="seconds-label">seconds</div>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div id="fh5co-couple">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
          <h2>Save the Date!</h2>
          <h3>March 4th, 2018 Chitrdurga</h3>
          <p>We invite you to celebrate our wedding</p>
        </div>
      </div>
      <div class="couple-wrap animate-box">
        <div class="couple-half">
          <div class="groom">
            <%=image_tag 'groom_1.jpg', class:'img-responsive img-circle' %>
          </div>
          <div class="desc-groom">
            <h3>Ravi Shankar G</h3>
            <p></p>
          </div>
        </div>
        <p class="heart text-center"><i class="fa fa-heart"></i></p>
        <div class="couple-half">
          <div class="bride">
            <%= image_tag 'bride.jpeg', class:'img-responsive img-circle'%>
          </div>
          <div class="desc-bride">
            <h3>Sandhya S Murthy</h3>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="fh5co-event" class="fh5co-bg">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
          <span>Our Special Events</span>
          <h2>Events</h2>
        </div>
      </div>
      <div class="row">
        <div class="display-t">
          <div class="display-tc">
            <div class="col-md-10 col-md-offset-1">
              <div class="col-md-6 col-sm-6 text-center">
                <div class="event-wrap animate-box">
                  <h3>reception</h3>
                  <div class="event-col">
                    <i class="fa fa-clock"></i>
                    <span>6:00 PM onwards </span>
                  </div>
                  <div class="event-col">
                    <i class="fa fa-calendar"></i>
                    <span>Saturday 03</span>
                    <span>March, 2018</span>
                  </div>
                  <p class="text-capitalize">KEB Employees Union Kalyana Mantapa Near RTO Office Chitradurga</p>
                  <p>Ph: 9901916142, 9035362979, 9731188809</p>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 text-center">
                <div class="event-wrap animate-box">
                  <h3>Wedding</h3>
                  <div class="event-col">
                    <i class="fa fa-clock"></i>
                    <span>8:20 AM</span>
                  </div>
                  <div class="event-col">
                    <i class="fa fa-calendar"></i>
                    <span>Sunday 04</span>
                    <span>March, 2018</span>
                  </div>
                  <p class="text-capitalize">KEB Employees Union Kalyana Mantapa Near RTO Office Chitradurga</p>
                  <p>Ph: 9901916142, 9035362979, 9731188809</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="fh5co-testimonial">
		<div class="container">
			<div class="row">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>Location</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 animate-box">
            <div class="gmaps">

        <div id="map" style="width:100%;height:500px"></div>
    </div>
						</div>
					</div>
				</div>
			</div>
  </div>
</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRCzNsnPzDZ_bfR-4wzOZFrWwAvfIjBpc&callback=myMap"></script>
<script>
function myMap() {
  var myCenter = new google.maps.LatLng(14.233661,76.40849960000003);
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom: 15};
  var map = new google.maps.Map(mapCanvas, mapOptions);
  var marker = new google.maps.Marker({
    position: myCenter,
    animation: google.maps.Animation.BOUNCE
  });
  marker.setMap(map);
}
</script>

<script type="text/javascript">
  const countDownClock = (number = 100, format = 'seconds') => {
  
  const d = document;
  const daysElement = d.querySelector('.days');
  const hoursElement = d.querySelector('.hours');
  const minutesElement = d.querySelector('.minutes');
  const secondsElement = d.querySelector('.seconds');
  let countdown;
  convertFormat(format);
  
  
  function convertFormat(format) {
    switch(format) {
      case 'seconds':
        return timer(number);
      case 'minutes':
        return timer(number * 60);
        case 'hours':
        return timer(number * 60 * 60);
      case 'days':
        return timer(number * 60 * 60 * 24);             
    }
  }

  function timer(seconds) {
    const now = Date.now();
    const then = now + seconds * 1000;

    countdown = setInterval(() => {
      const secondsLeft = Math.round((then - Date.now()) / 1000);

      if(secondsLeft <= 0) {
        clearInterval(countdown);
        return;
      };

      displayTimeLeft(secondsLeft);

    },1000);
  }

  function displayTimeLeft(seconds) {
    daysElement.textContent = Math.floor(seconds / 86400);
    hoursElement.textContent = Math.floor((seconds % 86400) / 3600);
    minutesElement.textContent = Math.floor((seconds % 86400) % 3600 / 60);
    secondsElement.textContent = seconds % 60 < 10 ? `0${seconds % 60}` : seconds % 60;
  }
}


/*
  start countdown
  enter number and format
  days, hours, minutes or seconds
*/
countDownClock(20, 'days');
</script>

<style type="text/css">
  .countdown-container {
  display: flex;
  width: 100%;
  max-width: 70%;
  justify-content: space-between;
}

.days-container,
.hours-container,
.minutes-container, 
.seconds-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.1);
  border: 5px solid rgba(255,255,255,0.3);
  width: 140px;
  height: 140px;
  border-radius: 99px;
}

.days,
.hours,
.minutes,
.seconds {
  font-size: 2.5em; 
  margin: 10px 0;
}


.days-label,
.hours-label,
.minutes-label,
.seconds-label {
  text-transform: uppercase;
  margin-bottom: 5px;
}

@media (max-width: 800px) {
  
  .countdown-container {
    max-width: 90%;
  }
  
  .days-container,
  .hours-container,
  .minutes-container, 
  .seconds-container {
    font-size: 0.8em;
    width: 100px;
    height: 100px;
  }
}
</style>
