*{
  margin: 0;
  padding: 0;
}
#fh5co-header{
  background-image: image-url('img_bg_2.jpg');
}
#fh5co-event{
  background-image: image-url('img_bg_3.jpg');
}
.img_100{
  width: 100%;
}
.m_b_20{
  margin-bottom: 20px;
}
#fh5co-footer{
  padding: 10px 0px;
  background-image: image-url('img_bg_2.jpg');
}
.fh5co-nav-toggle {
    display: none;
}
// body{
//   background: #ff77b7;
//   font-family: 'Roboto', sans-serif;
// }
// .fa{
//   color: #F31C54;
// }
// .text-blue{
//   color: #F31C54
// }
// .invitation_menu{
//   background-color: #fff;
//   padding: 0px;
//   .nav-item {
//     padding-left: 30px;
//     padding-right: 30px;
//     .nav-link{
//       text-transform: uppercase;
//       color: #000;
//       padding: 20px;
//         border-top: 3px solid #ffffff;
//       .fa-nav{
//         display: block;
//         margin-bottom: 2px;
//       }
//     }
//     .active{
//       border-top: 3px solid #F31C54;
//     }
//   }
// }
// .home_content{
//   margin: 0 auto;
//   .names{
//       margin-top: 125px;
//       margin-bottom: 30px;
//       .inline{
//         display: inline-block;
//         vertical-align: middle;
//         font-size: 120px;
//         margin-right: 40px;
//       }
//       h1{
//           font-family: 'Great Vibes', cursive;
//           text-transform: capitalize;
//       }
//     }
//     .bottom_text{
//       font-size: 20px;
//     }
// }
